<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderLayout>
        <processor
          type="Marek.Musielak.PageRules.Pipelines.RenderLayout.RunPageRules, Marek.Musielak.PageRules"
          patch:after="processor[@type='Sitecore.Analytics.Pipelines.HttpRequest.StartAnalytics, Sitecore.Analytics']" />
      </renderLayout>
    </pipelines>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.GeneratePageRulesEditorUrl" type="Marek.Musielak.PageRules.SpeakRequests.GeneratePageRulesEditorUrl, Marek.Musielak.PageRules" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>